@import "./utilis/fonts";
@import "./utilis/utilis";
@import "./base";
@import "./utilis/variables";

@import "./components/buttons";
@import './components/carousel-button';
@import "./components/headers";
@import "./components/hero-section";
@import "./components/links";

@import "./utilis/mixins";


.container{
    width: 100%;
    max-width: 1288px;
    margin: 0 auto;
    padding: 0 24px;
}

.section {
    padding: 48px 0;
}

.circle{
    @include circle(100px, 100px, #fff);
}

.circle-big{
    @include circle(200px, 200px, green);
}



/*Advantage section*/
.advantages-section{
    padding: 16px 0;
    background-color: var(--color-brand-normal);
}

.advantages-list{
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.advantages-item{
    color: var(--color-primary-light);
    font-size: 20px;
    font-weight: 300;
}

.section-title {
    font-size: 64px;
    font-weight: 900;
    line-height: 1.3;
}

.section-title.centered{
    text-align: center;
}

.section-title .accent{
    color: var(--color-brand-dark);
}

/* Traditions section */
.traditions-section{
    padding-top: 96px;
}

.traditions-content{
    width: 710px;
}

.traditions-container{
    gap: 40px;
    display: flex;
    justify-content: space-between;
}

.traditions-title {
    margin-bottom: 42px;
}

.traditions-text .brand {
    color: var(--color-brand-normal);
    font-weight: 600;
}

.traditions-text .uppercase {
    text-transform: uppercase;
}

.traditions-text.limited {
    max-width: 330px;
}

/* Chefs section */
.chefs-title {
    position: relative;
    
    margin: 0 auto 80px;
}

.chefs-title::before,
.chefs-title::after{
    position: absolute;
    bottom: 24px;
    width: 352px;
    border: 2px solid var(--color-brand-light);
    content: '';
}

.chefs-title::before{
    left: 0;
}

.chefs-title::after{
    right: 0;
}

.chefs-list{
    display: flex;
    gap: /*40px*/ 30px;
    /*flex-wrap: wrap;*/
}

.chefs-item{
    flex-basis: calc(100% - 30px / 2);
}

.chef-card{
    display: flex;
    gap: 30px;
}

.chef-title {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 16px;
}

.chef-text p{
    margin-bottom: 24px;
}

.chef-text p:last-child{
    margin-bottom: 0;
}

.chef-image{
    border-radius: 4px 4px 4px 200px;
    box-shadow: -16px 16px 0 0 var(--color-primary-light), -16px 16px 0 2px var(--color-secondary-dark);
}

/* Formats section */
.formats-container{
    display: flex;
    gap: 32px;
    align-items: center;
}

.format-card{
    height: 444px;
    border: 1px solid lightgray; /*remove*/
    border-radius: 16px;
    padding: 24px;
    background-image: linear-gradient(
        180deg, 
        rgba(49, 38, 26, 0) 55.21%, 
        rgba(49, 38, 26, 0.71) 72.92%,
        var(--color-primary-dark) 100%);
        transition: transform 0.3s;
    /*background-image: url('../images/walrus-format.jpg');*/
}

.format-card:hover{
    transform: scale(1.05);
}

.formats-item{
    flex-basis: calc((100% - 40px) / 3);
}

.formats-list{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.formats-title{
    margin-bottom: 80px;
}

.format-title
{
    font-size: 24px;
    font-weight: 600;
}

.format-text
{
    font-size: 14px;
    font-weight: 300;
}

/* Contact section */

.contact-section
{
    padding-bottom: 96px;
}

/*.contact-container
{
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
    align-items: flex-start;
}*/
.contact-container {
    display: flex;
    align-items: stretch; /* не flex-start */
    gap: 32px;
}

.contact-form {
    flex: 1;
    min-width: 280px;
}

.contact-title
{
    margin-bottom: 16px;
}

.contact-map {
    width: 620px;
    height: auto;
    min-height: 100%; /* тягнеться рівно по висоті форми */
    border: none;
    border-radius: 16px;
}



/*Footer*/
.footer{
    padding: 32px 0;
    position: relative;
    background-color: var(--color-primary-dark);
    background-image: url(../images/footer-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.footer::before, 
.footer::after{
    position: absolute;
    bottom: 0;
    background-repeat: no-repeat;
    content: '';
}

.footer::before{
    width: 180px;
    height: 120px;
    left: 0;
    background-image: url('../images/decor-bread-small.png');
}

.footer::after{
    width: 380px;
    height: 190px;
    right: 0;
    background-image: url('../images/decor-bread-large.png');
}

.footer-container{
    display: flex;
    gap: 20px;
}

.footer-logo{
    display: inline-block;
}

.footer-nav, .footer-address{
    flex-basis: 50%;
    display: flex;
    gap: 20px;
}

.footer-logo, .footer-menu{
    flex-grow: 1;
}

.address-list, .address-info{
    flex-grow: 1;
}

.address-link{
    color: var(--color-primary-light);
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
}

.address-link:hover{
    color: var(--color-brand-normal);
}

.address-icon{
    fill: var(--color-primary-light);
}

.address-copyright{
    font-size: 14px;
}


/*Modal;*/
.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px 0;
    transition: opacity 0.3s, visibility 0.3s;
}

.backdrop.is-hidden{
    /*display: none;*/
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}


/*Modal*/
.modal{
    position: relative;
    width: 100%;
    max-width: 880px;
    height: 100%;
    max-height: 880px;
    padding: 128px;
    background-color: var(--color-primary-light);
    border-radius: 32px;
    overflow-y: auto;
}

.modal-btn-close{
    position: absolute;
    top: 40px;
    right: 40px;
}


/* Forms */
.form-field {
    position: relative;
    margin-bottom: 32px;
}

.form-label {
    position: absolute;
    top: 16px;
    left: 42px;
}

.form-input {
    padding: 16px 42px;
    width: 100%;
    font-size: 16px;
    line-height: 1.17;
    border: 1px solid var(--color-secondary-dark);
    border-radius: 8px;
    background-color: transparent;
}

.form-input:focus {
    border-color: var(--color-brand-normal);
    outline: none;
}

.form-input::placeholder {
    color: var(--color-secondary-dark);
    font-size: 16px;
    line-height: 1.17;
}

.form-input:focus::placeholder {
    color: var(--color-primary-dark);
}

.form-button {
    margin: 0 auto 24px;
    display: block;
}

.form-terms {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.5;
    text-align: center;
    margin: 0 auto;
    max-width: 220px;
}

.form-terms-link {
    color: var(--color-primary-dark);
    text-underline-offset: 2px;
}